html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  width: 100%;
  background-color: rgb(9, 9, 59);
}

div {
  display: flex;
  flex-wrap: wrap;
}

.homelink {
  position: absolute;
  background-color: transparent;
  font-size: 60px;
}

.cartridge {
  margin-top: 50px;
  margin-left: 250px;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.gameboy {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  width: 0.5rem;
}

.background {
  background: url("/images/tetris.jpg");
  opacity: 0.7;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  /* this is a z-index hack - probably not the best thing to do in the future */
  z-index: -1;
  overflow: hidden;
}

.img1 {
  margin: 50px 0px 25px;
  box-shadow: 15px 10px 10px whitesmoke;
}

.img2 {
  margin: 25px 0px 25px;
  box-shadow: 15px 10px 10px whitesmoke;
}

.img3 {
  margin: 25px 0px 25px;
  box-shadow: 15px 10px 10px whitesmoke;
}

.img4 {
  box-shadow: 10px 5px 5px whitesmoke;
}